
$profile-hover-shadow: 0px 0px 20px 6px  #af004c;
.profile-shadow{
    &:hover{
        box-shadow: $profile-hover-shadow;
    }
}
.profile-img{
    height: 250px;
}
.list-group-item{
    border: none;
    background-color: transparent;
}
